.contact-container{
    background-color: #f0f1ed;
}

h1{
    /* margin-top: 50px; */
    padding-top: 10px;
    text-align: center;
    font-size: 60px;
    background-color: #f0f1ed;
}
hr{
    height: 3px;
    color: rgb(88, 131, 117);
    background-color: rgb(88, 131, 117);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -12px;
    margin-bottom: 0px
}
.contact-img{
    margin-top: 40px;
    width: 100%;
    min-width: 100%;
    /* max-height: 100vh; */
    height: auto;
}

.button{
    font-size: 20px;
    background-color:rgb(88, 131, 117);
    color:white;
    margin-top: 40px;
}

.form-label{
    margin-top: 45px;
    font-size: 20px;
}

