.header {
    margin-bottom: 15px;
    margin-top: 15px;
}

.tabs{
    margin-left: 35px;
    text-decoration: none;
    color: rgb(88, 131, 117);
    font-size: 15px;
    
}

.logo{
    margin-left: -85px;
    text-decoration: none;
    color: white;
    font-size: 20px;
      
}

.background{
    background-color: #e8e9e2;
}