.header {
    margin-bottom: 50px;
    margin-top: 50px;
}

.tabs{
    margin-left: 35px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}

.logo{
    margin-left: -85px;
    text-decoration: none;
    color: white;
    font-size: 20px;
      
}