.header {
    margin-bottom: 5px;
    margin-top: 5px;
    max-width: 100%;
}

.tabs{
    margin-left: 15px;
    text-decoration: none;
    color: rgb(88, 131, 117);
    font-size: 14px;
    
}

.tabs:hover{
    color: rgb(73, 73, 73)
}

.logo{
    margin-right: 0px;
    padding-left: 1vw;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: left;
    height: 70px;
      
}

.background{
    background-color: #f0f1ed;
}
